/*font-family: 'Palanquin', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Roboto', sans-serif;*/

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root { /*VARIAVEIS*/
 
  font-size: 62.2%;
 
  /*BACKGROUND*/
  --BG-HEADER: hsl(218, 17%, 62%);
  --BG-BODY: hsl(233, 100%, 97%);
  --BG-TITTLE: hsl(275, 18%, 79%);
  --BG-PADDING: hsl(312, 91%, 96%);


  /*FONTS*/
  --FF-HEADING: 'Staatliches', cursive;
  --FF-TEXTING: 'Palanquin', sans-serif;

 /*SIZE*/  
  --FS-TITTLE-HEADER: 4rem;
  --FS-TITTLE-CARD: 2rem;
  --FS-BODY: 1.4rem;

  /*COLORS*/
  --COLOR-BODY: hsl(274, 84%, 12%);
  --COLOR-CARD: hsl(232, 17%, 35%);


}


body {
  background: var(--BG-BODY);
  font-family: var(--FF-TEXTING);
}

.page {
  width: 100%;
  text-align: center;
  margin: auto;
}

header {
  padding: 3.2rem 0 2.9rem;
  background: var(--BG-HEADER);
}

h1 {
  font-family: var(--FF-HEADING);
  font-size: var(--FS-TITTLE-HEADER);
  font-weight: 400;
  
  color: white;

  padding: 0.8rem auto;
  background: var(--BG-TITTLE);

  margin: 0.5rem auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.8rem 3.2rem 6rem;
}

.card:nth-child(3){
  display: none;
}

.card:nth-child(4){
  display: none;
}


p {
  font-family: var(--FF-TEXTING);
  font-size: 1.41rem;
  font-weight: 400;
  line-height: 1.5rem;

  color: var(--COLOR-BODY);

  max-width: 30.5rem;
  max-height: 7.5rem;

  margin: 1.4rem auto;

  letter-spacing: 0.1rem;
}

.cards {
  display: grid;
  gap: 3.2rem;
  margin-top: 6.3rem;
}

.card {
  position: relative;
  margin: auto;

  height: fit-content;

  animation-name: downtop;
  animation-duration: 1s;
  animation-delay: 400ms;
  animation: downtop 1s 200ms backwards;

  margin: 0
}

.card img:hover {
  transform: scale(1.1); 
}


span {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  color: var(--COLOR-CARD);

  font-family: var(--FF-HEADING);
  font-weight: 400;
  font-size: var(--FS-TITTLE-CARD);
  line-height: 3.5rem;

  padding: 0 2.4rem;
  
  background: var(--BG-PADDING);

  border-radius: 2rem;

  animation: topdown 1s 700ms backwards;

}

.card img {
  width: 100%;
}

.desktop {
  display: none;
}

footer {
  display: none;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20);
  }

  100% {
    opacity: 1;
    transform: translateY(20);
  }
}


@media (min-width: 700px) {
  .mobile {
    display: none;
  }

  .desktop{
    display: block;
  }

  span{
    display: none;
  }

  .card:nth-child(3){
    display: none;
  }
  
  .card:nth-child(4){
    display: none;
  }

  
footer {
  display: block;
}

  .page {
  display: flex;
}

  header {
    min-width: 37.7rem;
}

  h1 {
    font-family: var(--FF-HEADING);
    font-size: 4.8rem;
    font-weight: 400;
    
    color: white;

    padding: 0.8rem auto;
    background: var(--BG-TITTLE);

    margin: 3.2rem auto 3.2rem;
}

  header p {
    color: white;

    max-width: 27.5rem;
    max-height: 100%;

    font-size: 1.41rem;
    line-height: 2rem;

  }

  
  .cards {
    width: fit-content;
    height: fit-content;
  }

    footer p a{
      text-decoration: none;
      color: #4A4E69;
    }

    footer p {
      font-size: 1.4rem;
      line-height: 2.8rem;
    }

    .cards {
      grid-template-areas: 
      'A B '
      'C B'
      'C D';
    }
    .cards .card:nth-child(1) {
      grid-area: A;
    }

    .cards .card:nth-child(2) {
      grid-area: B;
    }

    .cards .card:nth-child(5) {
      grid-area: D;
    }

    .cards .card:nth-child(6) {
      grid-area: C;
    }
}



@media (min-width: 1000px) {

  .card:nth-child(3){
    display: inline-block;
  }
  
  .card:nth-child(4){
    display: inline-block;
  }
 

  .cards {
    grid-template-areas: 
    'A B C'
    'D B E'
    'D F E';
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }

  .cards .card:nth-child(2) {
    grid-area: B;
  }

  .cards .card:nth-child(3) {
    grid-area: C;
  }

  .cards .card:nth-child(4) {
    grid-area: D;
  }

  .cards .card:nth-child(5) {
    grid-area: F;
  }
  .cards .card:nth-child(6) {
    grid-area: E;
  }

  header {
    animation: leftright 800ms 400ms backwards;
  }

  @keyframes leftright {
  0% {
    opacity: 0;
    transform: translateX(-100);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
}





/*
@media (min-width: 1140px) {

  .cards {
    grid-template-areas: 
    'A B C'
    'D B E'
    'D F E';
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }
  .cards .card:nth-child(2) {
    grid-area: B;
  }
  .cards .card:nth-child(3) {
    grid-area: C;
  }
  .cards .card:nth-child(4) {
    grid-area: D;
  }
  .cards .card:nth-child(5) {
    grid-area: F;
  }
  .cards .card:nth-child(6) {
    grid-area: E;
  }
 
}


main {
  position: fixed;
  z-index: -1;
  margin-top: 6.4rem;
  margin-bottom: 5rem;
  margin-left: 47.5rem;
}